
body{
	background-color: lightcyan;
	text-align: left;

}
h1{
	text-align: left;
	font-family: Algerian;
	color: mediumslateblue;
}
.right{

	text-align: left;
}

.left{
	text-align: Left;
}

.large{
	font-size: 50px;
	font-family: sans-serif;
}